rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth.token.email == 'tjedisan@gmail.com';
    }

    match /users/{userId} {
      allow read, update, delete: if isSignedIn() && isOwner(userId);
      allow create: if isSignedIn();
    }

    // Companies can be read by any signed-in user, but only created/updated/deleted by an admin.
    match /companies/{companyId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }

    // Payment rules can only be managed by an admin.
    match /payment_rules/{ruleId} {
        allow read: if isSignedIn();
        allow write: if isAdmin();
    }
  }
}
