@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84.2% 4.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84.2% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84.2% 4.9%);
    --primary: hsl(217, 91%, 60%);
    --primary-foreground: hsl(210, 40%, 98%);
    --secondary: hsl(217, 33%, 95%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: hsl(217, 33%, 95%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: hsl(217, 33%, 95%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217, 20%, 88%);
    --input: hsl(217, 20%, 88%);
    --ring: hsl(217, 91%, 60%);
    --radius: 0.5rem;
  }
  .dark {
    --background: hsl(222.2 84.2% 4.9%);
    --foreground: hsl(210 40% 98%);
    --card: hsl(222.2 84.2% 4.9%);
    --card-foreground: hsl(210 40% 98%);
    --popover: hsl(222.2 84.2% 4.9%);
    --popover-foreground: hsl(210 40% 98%);
    --primary: hsl(217.2 91.2% 59.8%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);
    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);
    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);
    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 62.8% 50.6%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(217.2 91.2% 59.8%);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
