@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 265 44% 95%;
    --foreground: 260 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 260 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 260 20% 15%;
    --primary: 262 52% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 265 44% 90%;
    --secondary-foreground: 262 52% 50%;
    --muted: 265 44% 90%;
    --muted-foreground: 260 10% 45%;
    --accent: 340 82% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 265 44% 85%;
    --input: 265 44% 90%;
    --ring: 262 52% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 265 44% 98%;
    --sidebar-foreground: 260 20% 15%;
    --sidebar-primary: 262 52% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 265 44% 90%;
    --sidebar-accent-foreground: 262 52% 50%;
    --sidebar-border: 265 44% 85%;
    --sidebar-ring: 262 52% 50%;
  }
  .dark {
    --background: 262 15% 10%;
    --foreground: 265 44% 95%;
    --card: 262 15% 12%;
    --card-foreground: 265 44% 95%;
    --popover: 262 15% 10%;
    --popover-foreground: 265 44% 95%;
    --primary: 262 52% 60%;
    --primary-foreground: 262 15% 10%;
    --secondary: 262 15% 20%;
    --secondary-foreground: 265 44% 95%;
    --muted: 262 15% 20%;
    --muted-foreground: 265 20% 65%;
    --accent: 340 82% 62%;
    --accent-foreground: 262 15% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 262 15% 20%;
    --input: 262 15% 20%;
    --ring: 262 52% 60%;
    --sidebar-background: 262 15% 10%;
    --sidebar-foreground: 265 44% 95%;
    --sidebar-primary: 262 52% 60%;
    --sidebar-primary-foreground: 262 15% 10%;
    --sidebar-accent: 262 15% 20%;
    --sidebar-accent-foreground: 265 44% 95%;
    --sidebar-border: 262 15% 20%;
    --sidebar-ring: 262 52% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.generating-image .no-print {
  display: none !important;
}

body:not(.generating-image) #printable-area {
    display: block;
}

@media print {
  .no-print {
    display: none !important;
  }
  #printable-area {
    box-shadow: none !important;
    border: none !important;
  }
  main.grid {
    display: block !important;
  }
  .lg\:col-span-2 {
    grid-column: span 3 / span 3 !important;
  }
  body {
    background-color: white !important;
  }
}
